
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Draggable lists
.sortablejs

# Environment variables
.env
.env*.local
.env.*.local

# API keys
# Add any other files that contain sensitive keys if they are not .env files

# Misc
.DS_Store
*.pem
*.log
*.tsbuildinfo

# Test results
/coverage
/reports

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turborepo
.turbo
